.vscode
.vscode-test
node_modules
.github
out/**
src/**
test/**
scripts/**
dist/test/**
.gitignore
tsconfig.json
tslint.json
.eslintrc
.editorconfig
.travis.yml
.azure-pipelines
webpack.config*
*.ts
*.zip
*.tgz
**/*.map
