.github/**
.vscode-test/**
.vscode/**
node_modules/**
out/**
src/**

.eslintrc.json
.gitattributes
.gitignore
.prettierignore
bindl.config.js
cspell.json
release.config.js
tsconfig.json
webpack.config.js

**/*.map
**/*.tgz
**/*.ts
**/*.zip
