**/*

!binaries/
!dist/
!languages/
!resources/*.woff
!snippets/
!node_modules/@vscode-shellcheck/shellcheck-wasm/**
!node_modules/@bjorn3/browser_wasi_shim/**

!CHANGELOG.md
!LICENSE
!package.json
!package.nls*.json
!l10n/*.json
!README.md
!shellcheck.png
!resources/walkthrough/*.svg
