name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  # This is to catch new releases of VS Code which could cause the extension to break
  schedule:
    - cron: 0 0 * * *

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        vscode-version: [1.57.1, stable]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - name: Setup Volta, Node and NPM
        uses: volta-cli/action@v2.0.2
      - run: npm ci
      - name: Test with VS Code ${{ matrix.vscode-version }}
        uses: GabrielBB/xvfb-action@v1
        env:
          VSCODE_TEST_VERSION: ${{ matrix.vscode-version }}
        with:
          run: npm test

  release:
    if: github.event_name != 'schedule'

    needs: test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN_SEMANTIC_RELEASE || github.token }}
      - name: Setup Volta, Node and NPM
        uses: volta-cli/action@v2.0.2
      - run: npm ci
      # Only run on push events or pull requests coming from the same repository, except from dependabot
      - run: npm run release
        if: github.event_name == 'push' || github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
      - if: github.event_name == 'pull_request'
        name: Create extension vsix for pull request
        run: |
          pr_number=$([[ "${GITHUB_REF}" =~ ^refs/pull/(.*)/merge$ ]] && echo ${BASH_REMATCH[1]})
          npm version prerelease --preid "pr-${pr_number}" --no-git-tag-version
          npm run package
      - if: github.event_name == 'pull_request'
        name: Archive the extension vsix for pull request
        uses: actions/upload-artifact@v3
        with:
          name: extension-vsix
          path: "*.vsix"
